body {
    font-family: Arial, sans-serif;
    background-color: #F8F8F8;
}
h1 {
    text-align: center;
    color: #333;
}

header {
    background-color: #5e8cb3;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    flex: 1;
    font-size: 36px;
    text-align: center;
}

header img {
    max-width: 150px;
}

nav {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ddd;
}


form {
    margin: 0 auto;
    width: 500px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
input[type="submit"] {
    background-color: #333;
    color: #FFF;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#signup-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 16px;
}
#signup-link a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

footer {
    background-color: #ddd;
    text-align: center;
    padding: 20px;
}